<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/page1.css' %}" rel="stylesheet">


    <title>Answer s</title>
</head>

<body>

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="masthead-brand">Answer s</h1>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="re_direct">Support</a>
            <a class="nav-link" href="re_direct">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h2 class="cover-heading">Search your question</h2>
        <p class="lead">This is question-answering web app.
            It finds the most appropriate sentence from documents.
            No of Documents to search from depends on your server.
            currently available topics are AI, ML, NLP, Python, Probability, Neural Network.
            We can add more.
        </p>
        <form method="post" action="">
        {% csrf_token %}
            eg. what are the types of supervised learning?
            {{ form.as_p }}
        <button class="btn btn-primary" type="submit" value="Submit">Submit</button> {% if ans != None %}
        <h4>{{ ans }}</h4>
        {% endif %}
        </form>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Created for searchers by <a href="re_direct">DSM</a>.</p>
        </div>
      </footer>
    </div>


</body>

</html>
